
*{
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
    color: black;
    min-height: 200vh;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 0.5% 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100000;
    padding: 0;

}
nav ul{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0px;
    width:100%;
}
 nav.black ul{
    width: 120%;
    left: 0;
    top: 0;
    justify-content: left;
    position: fixed;
    z-index: 100000;
    background: #860505;
    padding-left: 10%;
    padding-right: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: left 0.3s ease;
}
nav.black ul li{
    text-align: left;
}
nav.black ul li a{
    color:#f5eeee;
    
}
nav ul li{
position: relative;
list-style: none;
display: inline-block;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 25px;
padding-right: 2%;

}
nav ul li a{
    color:#6a0606;
    text-decoration:none;
    font-size: 1.5rem;
    position:relative;
    font-weight: bold;
    transition: 0.6s;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 10%;
    background: #051760;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/lmg-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header-text{
    font-size: 2rem;
    margin-left: 0;
    margin-top: 20%;
}
.header-text h1{
    font-size: 3rem;
    margin-top: 2%;
}
.header-text h1 span{
    color: #b50707;
}
/* -----------about---------- */
#about{
    padding-top: 4%;
    color:#051760;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    padding-top: 0.5%;
    flex-basis: 33%;
    margin-right: 1%;
}
.about-col-1 img{
    width: 90%;
    height: auto;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 66%;
}
.sub-title{
    font-size: 3rem;
    font-weight: 600;
    color:#b50707;
}
.tab-titles{
    display: flex;
    margin:2% 0 5%;
}
.tab-links{
    margin-right: 5%;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 10%;
    background:#0625a4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 60%;
}
.tab-contents ul li{
list-style: none;
margin: 1% 0;
}
.tab-contents ul li span{
    color:rgb(188, 14, 11);
    font-size: 1rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------Portfolio-----------*/
#project{
    margin-top: 0px;
    padding-top: 4%;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(45%,1fr));
    grid-gap: 5%;
    margin-top: 3%;
}
.project1{
border-radius: 10px;
position: relative;
overflow: hidden;
}
.project2{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    }
.project2 video{
    width:100%;
    border-radius: 10px;
    display:block;
    height: 320px;
}
.project1 img{
    width: 100%;
    border-radius: 10px;
    display:block;
    height: 320px;
    transition: transform 0.5s;
    
}
.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#3267d8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 600;
    margin-bottom: 2%;
    color: #fff;
}
.layer p{
    color: #fff;
}
.layer a{
    margin-top: 2%;
    color:#3267d8;
    font-size: 1.5rem;
    line-height: 3%;
    background: #fff;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    text-align: center;
}
.project1:hover img{
    transform: scale(1.1);
}
.project1:hover .layer{
    height: 100%;
}
.project-experience{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    grid-gap: 3%;
    margin-top: 3%;
}
.project-experience div{
    background: #dedede;
    padding: 10%;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    height: 100%;
}

.project-experience div h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2%;
}
.project-experience div a{
    text-decoration: none;
    color: #b50707;
    font-size: 1rem;
    margin-top: 2%;
    display: inline-block;
}
.project-experience div:hover{
    background: #699ae3;
    transform: translateY(-10px);
    
}
.project-experience div i{
    font-size: 3rem;
    margin-bottom: 3%;
}

.body-blur {
    filter: blur(5px);
}

.overlay {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 207, 207, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dedede;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 60%;
    z-index: 1001;

}
.popup-content h2{
    color:#b50707;
}
.popup-content ul{
margin-top: 5%;
}
.popup-content ul li{
    padding-bottom: 3%;
}
.close {
    position: absolute;
    top: 1%;
    right: 1.5%;
    font-size: 1.5rem;
    cursor: pointer;
}
.displayOverlayLink{
    text-decoration: none;
    color: #b50707;
    font-size: 1rem;
    margin-top: 3%;
    display: inline-block;
    cursor: pointer;
}

/*---------------Contact--------------*/
#contact{
    padding-top: 2%;
}
.contact-left{
    flex-basis: 35%;
    margin-right: 5%;
}
.contact-right{
    flex-basis: 60%;
    padding-right: 5%;
}
.contact-left p{
    margin-top: 5%;
}
.contact-left p i{
    color:#3321da;
    margin-right: 2%;
    font-size: 1.5rem;
}
.social-icons a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #7c84f2;
    display: inline-block;
    margin-right: 1%;
    margin-top: 5%;
    transition: transform(00.5s);
}
.social-icons a:hover{
    color:#3321da;
    transform: translateY(-5px);
}
.contact-right iframe{
    margin-top: 3%;
    border-color: #000000;
    border-radius: 10px;
    margin-left: 10%;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #dedede;
    font-weight: 300;
    margin-top: 2%;
}
/*-------------------Css for small screen-----------*/
nav .fa-solid{
    display: none;
}
@media (max-width: 600px) {
   
    #header{
    background-image: url(Images/lmg-3-copy2.jpg);
    background-size: cover;
   }
   .header-text{
    margin-top: 100%;
    font-size: 1rem;
   }
   .header-text h1{
    font-size: 2rem;
   }
   nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header,
#about,
#project,
#contact {
    
    margin-left: 0;
}

#sidemenu.active + #header,
#sidemenu.active + #about,
#sidemenu.active + #project,
#sidemenu.active + #contact {
    margin-left: 150px;
}

#sidemenu {
    position: fixed;
    top: 0;
    left: -150px;
    width: 150px;
    height: 100vh;
    background-color: #c11515;
    color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease;
    z-index: 2;
}
   nav .fa-solid{
    display: block;
    font-size: 2rem;
    position: absolute;
    top:2%;
    left:5%;
   }
   .fa-bars, .fa-circle-xmark{
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    top:2%;
    left:5%;
    z-index: 2;
   }
   nav ul li{
    display: block;
    margin: 25px;
    color: #f5eeee;
   }
   nav ul li a{
    color:#f5eeee;
   }
   nav ul .fa-solid{
    position:absolute;
    top: 2%;
    left: 10%;
    cursor: pointer;
   }
   .sub-title{
    font-size: 2.5rem;
   }

   .about-col-1, .about-col-2{
    flex-basis: 100%;
   }
   .about-col-1{
    margin-bottom: 5%;
   }
   .about-col-1 img{
    margin-left: 5%;
   }
   .about-col-2{
    font-size: 1rem;
    
   }
   .tab-titles{
    margin-top: 5%;
   }
   .tab-links{
    font-size: 1rem;
    margin-right: 7%;
    cursor: pointer;
   }
   .tab-contents{
    margin-bottom: 5%;
   }
   .project-experience{
    grid-template-columns: 1fr;
    margin-top: 5%;
   }
   .project-list{
    grid-template-columns: 1fr;
    margin-top: 5%;
   }
   .project2 video{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
   }
   .project1{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 2%;
   }
   .popup-content{
    width:75%;
    height: 45%;
    top:35%;
    left: 50%;
    padding: 5%;
    overflow-y: auto;
   }
   .contact-left, .contact-right{
    flex-basis: 100%;
   }
   #contact{
    margin-top: 15%;
   }
   .contact-left p{
    margin-left: 3%;
   }
   .social-icons{
    margin-left: 3%;
   }
   .contact-right{
    margin-top: 3%;
    margin-left: -7%;
    height: 80%;
    width: 100%;
   }
   .copyright{
    padding: 2%;
   }
}
  